# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

GOOGLE_CLIENT_ID=36022447291-6fak7c3gsr1p7jgvu58lnerumvs077c7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
